@import "sidebar";
@import "colours";
@import "typography";
@import "colour-cards";

body {
  color: $text-black;
  font-family: $sans-serif;
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

main {
  grid-column: 3 / 12;
}
