table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 16px;
}

tr {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

th {
  padding: 16px 12px;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(0,0,0,0.3);
}

td {
  padding: 12px 12px;
}
