$metric: "Metricweb", "Helvetica", "Arial", sans-serif;
$financier: "Financierdisplayweb", "Georgia", serif;
$georgia: "Georgia", serif;

h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

h2 {
  font-size: 1.75rem;
  margin-top: 60px;
}

h3 {
  font-size: 1.5rem;
  margin-top: 40px;
}

p {
  max-width: 600px;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

strong {
  font-weight: 600;
}

.typography-demo {
  font-size: 3rem;
  line-height: 4rem;
  grid-column: span 8;
  background-color: rgba(0,0,0,0.1);
  padding: 20px;
}

.typography-demo--uppercase  {
  text-transform: uppercase;
}

.typography-demo--financier {
  font-family: $financier;
}

.typography-demo--metric {
  font-family: $metric;
}

.typography-demo--metric-semibold {
  font-family: $metric;
  font-weight: 600;
}

.typography-demo--georgia {
  font-family: $georgia;
}

.typography-demo-wrapper {
  margin-bottom: 20px;
}
