.type-scale-minus-2	{
  font-size: 12px;
  line-height: 16px;
}

.type-scale-minus-1	{
  font-size: 14px;
  line-height: 16px;
}

.type-scale-0	{
  font-size: 16px;
  line-height: 20px;
}

.type-scale-1	{
  font-size: 18px;
  line-height: 20px;
}

.type-scale-2	{
  font-size: 20px;
  line-height: 24px;
}

.type-scale-3	{
  font-size: 24px;
  line-height: 28px;
}

.type-scale-4	{
  font-size: 28px;
  line-height: 32px;
}

.type-scale-5	{
  font-size: 32px;
  line-height: 32px;
}

.type-scale-6	{
  font-size: 40px;
  line-height: 40px;
}

.type-scale-7	{
  font-size: 48px;
  line-height: 48px;
}

.type-scale-8	{
  font-size: 56px;
  line-height: 56px;
}

.type-scale-9	{
  font-size: 72px;
  line-height: 72px;
}

.type-scale-10	{
  font-size: 84px;
  line-height: 84px;
}


// Scale Demo Layout

.type-scale-demo-item {
  margin-bottom: 16px;
}

.type-scale-demo-item-index {
  margin-right: 12px;
}
