---
title: Welcome
---

<h1>Welcome 🛠</h1>

<p><strong>This guide is a growing overview of the visual vocabulary, components and patterns we use across FT.com, web and native app and related digital products.</strong></p>


<h2>How is this different to Origami?</h2>
<p>Origami is a great toolkit that provide you with all our components to build better products faster and stronger. Use this guide, as a design-focused, opinionated instruction on how to use our elements when creating features and products around the universe of FT.com.</p>
